*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

.banner{
   width:100%;
   height:100vh;
   background-image: url(2.jpg);
   background-size: cover;
   background-position: center;
}
.navbar{
    width:85%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;

}
.navbar ul{
    margin-left: auto;
}
.navbar ul li{ 
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative;
   
} 
.navbar ul li a{
   text-decoration:none;
   color:rgb(170, 23, 104);
   text-transform: uppercase;
   font-weight: bold;
}
.navbar ul li::after{
    content:'';
    height:3px;
    width: 0;
    background:rgb(27, 61, 27);
    position:absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.container{
    width: 45%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
img{
    width:100%;
    height:auto;
    padding-top: 0;
}
.wrapper{
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0,0,50,0.2);
}
.toggle,
.content{
    font-family: "Poppins",sans-serif;
}
.toggle{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color:purple;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
}
.content{
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}
